################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BingoWebApp/.vs/BingoWebApp/v17
/BingoWebApp/BingoWebApp/bin/Debug/net6.0
/BingoWebApp/BingoWebApp/obj
