body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.navbar {
    background: linear-gradient(90deg,#99d67d,#77cad0,#c8ce74);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo h1 {
    background: linear-gradient(90deg,#fda7df,#9980fa,#fda7df);
    font-size: 24px;
    margin: 0;
}

.search-bar {
    display: flex;
}

    .search-bar input {
        padding: 10px;
        border: none;
        border-radius: 4px;
    }

.search-button {
    background: linear-gradient(90deg,#fda7df,#9980fa,#fda7df);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

.user-actions button {
    background: #228B22;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    margin: 0 5px;
    cursor: pointer;
}
