@model IEnumerable<BingoWebApp.Entities.Product>

@{
    ViewData["Title"] = "DisplayProducts";
}
@{
    Layout = "_Layout";
}
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" type="text/css" href="~/css/DisplayProducts.css">
</head>
<body>

    <div class="product-list">
        foreach (var item in Model)
        {
            <div class="product">
                <img src="item.ImageUrl" alt="Product 1">
                <h3>item.ProductName</h3>
                <p>Description of Product 1.</p>
                <span class="price">item.Price</span>
                <button>Add to Cart</button>
            </div>
        }
    </div>

</body>
</html>
-->